header {
  display: flex;
  padding: 15px 100px;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #1b1464;
  color: #ffffff;
  position: fixed;
  left: 0;
  right: 0;
}

.logo {
  width: 100px;
  height: auto;
}

.header-logo {
  align-items: baseline;
  display: flex;
}

.header-buttons {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

#sign-in,
#sign-up {
  font-size: 12px;
  border-radius: 50px;
  color: white;
  background-color: #1b1464;
  border: 1px solid white;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial;
  font-weight: 500;
  padding: 10px 20px;
}

#sign-in:hover,
#sign-up:hover {
  opacity: 0.8;
}

#logout-btn {
  border-radius: 7px;
  background-color: #ff4500;
  border: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
}

#logout-btn:hover {
  opacity: 0.8;
}

.user-name {
  padding-right: 20px;
}
