.logo {
    width: 100px;
    height: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 30px;
}

.form-bg {
    background-color: #e8e8e8;
}

.sign-in-btn {
    background-color: #1b1464;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    padding: 12px;
}

.sign-in-btn:hover {
    opacity: 0.9;
}
